@{
    ViewData["Title"] = "Mi primer vista";
    string autor = "Angel Mena Coudin";
    int edad = 21;
}

<div class="text-lg-start">
    <h1 class="display-4">Modificando una vista</h1>
    <p>
        <strong> Yo soy: </strong> @autor
        <br/>
        Mi edad es <input type="number" value="@edad" placeholder="21"/>
    </p>
</div>

<div>
    <label> Mi carné es: </label>
    <input type="number" placeholder="C34789" />
</div>
<br />
<div>
    <label>Pertenezco al equipo de PI llamado:</label>
    <input type="text" placeholder="Onigiri Intelligent Solutions" />
</div>
